name: Auto Go Generate PR

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

permissions: {}

jobs:
  go-generate-diff:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: pkg/generate/go.mod
          cache-dependency-path: pkg/generate/go.sum
      - run: go generate ./...
      - run: git diff "*.html"
      - id: diff
        run: git diff --exit-code "*.go"
        continue-on-error: true
      - if: ${{ steps.diff.outcome == 'failure' }}
        env:
          GH_TOKEN: ${{ github.token }}
          BRANCH: auto-go-generate-${{ github.run_id }}-${{ github.run_attempt }}
        run: |
          git add .
          git config user.name github-actions
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit -sm "update from spec"
          git checkout -b ${{ env.BRANCH }}
          git push --set-upstream -f origin ${{ env.BRANCH }}
      - if: ${{ steps.diff.outcome == 'failure' }}
        env:
          # The token must be a PAT with permissions to create PRs that auto-launch workflows.
          # Otherwise, you must close and reopen the PR to launch workflows.
          GH_TOKEN: ${{ github.token }}
          BRANCH: auto-go-generate-${{ github.run_id }}-${{ github.run_attempt }}
        run: |
          gh pr create \
            --draft \
            --repo ${{ github.repository }} \
            --base "main" \
            --head "${{ env.BRANCH }}" \
            --title "auto-gen: update from spec" \
            --body "PR autogenerated by workflow '${{ github.workflow }}' to update from the HMTL spec. If workflows do not autolaunch, close and reopen this PR."
